
.imageBox{
   width: 150px;
  height: 150px;
}
.icons{
 max-height: 100%;
  max-width: 100%;
}

.portfolio-cards {
  height: 500px;
  margin-bottom:25px;
  -webkit-box-shadow: 7px 7px 10px 0px rgba(184,184,184,1);
-moz-box-shadow: 7px 7px 10px 0px rgba(184,184,184,1);
box-shadow: 7px 7px 10px 0px rgba(184,184,184,1);
transition: all 0.2s ease-in-out;
}
.portfolio-cards:hover{
  transform: scale(1.1);
}
.card-img-top{
  max-height:250px;}
.about, .contact{
    background: rgba(240, 236, 236, 0.637);
}
.footer{
    background: rgb(177, 177, 177);
}

.socialIcon{
  transition: all 0.2s ease-in-out;
}
.socialIcon:hover{
  transform: scale(1.1);
}
.avatar{
  max-width: 500px;
  max-height: 400px;
}
.textWhite{
  color:white !important;
}